@*================================================================================
    %name: Index.cshtml %
    %version: 4.1.9 %
    %date_created: Wed Nov 14 14:18:01 2012 %
    %derived_by: ADuncan %
      Copyright: Copyright 2012 BAE Systems Australia
                 All rights reserved.
================================================================================*@

@model BAE.Mercury.Client.Models.vmMessageList
@{
    ViewBag.Title = "Site Message Monitor";
}

@section CSS
{
    <link href="@Url.Content("/Content/MessageMain.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/Content/MessageFolders.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/Content/MessageDetails.css")" rel="stylesheet" type="text/css" />
}
@section Scripts
{ 
    @Content.Script("jquery.nicescroll.js", Url)  
    @Content.Script("jquery.scroll.events.js", Url)  
    @Content.Script("message.list.js", Url)  
    @Content.Script("messageDetails.js", Url)  
    @Content.Script("countdown.js", Url)  
    @Content.Script("stringUtility.js", Url)  
}

@section MenuButtons
{
    @Html.Partial("_SiteMonitorMenu")
}

@section SideBar
{
    <div class="col-left" id="mailbox"> 
        <p>@Html.Action("MessageFilters")</p>
        <p>@Html.Action("SiteFolders", "Folder")</p>
    </div>
}

<div class="col-middle" id="message-list-wrap">
    <div id="message-search">
        <form action="#" id="search" method="post">
            <input type="text" value="Search Inbox" id="search-inbox" />
            <a href="#" id="advance-search"><img src="images/icon-advance_search.png" width="21" height="21" alt="Show Advance Search" /></a>
            <div id="messagewait"></div>
        </form>
    </div>
    <div id="message-sort">
        <p><a href="#" id="filter-unread">Filter by Unread</a> 
        <a href="#" id="filter-unactioned">Filter by Unactioned</a>
        <a href="#" id="sort-by">Sort by Timeout</a></p>
    </div>
    <div  tabindex='0'  id="listContainer" >                 
        @Html.Partial("/Views/Message/_ReloadMessageList.cshtml") @* call method on Home (this) controller *@
    </div>

</div>

<div id="message-content" class="col-right">             
    <div id="messageDetails"> 
        @* Message details content is populated within this div via an ajax request.  *@
    </div>
</div>
		
<br class="clear" />