@*================================================================================
            %name: _MessageFolders.cshtml %
         %version: 9 %
        Copyright: Copyright 2012 BAE Systems Australia
                   All rights reserved.
================================================================================*@

@*
View of folders as a Tree with recursive child node creation - uses dynatree jquery plugin
*@

@using BAE.Mercury.Client.Models

@model IEnumerable<vmFolder>

 
@* helper to build the mailboxes section -- 2 levels only, structure determined by the vmFolders objects retrieved   *@
@helper BuildMailBoxes(IEnumerable<vmFolder> folders)
{
  <ul id="mailbox-list">
    @foreach (vmFolder boxObj in folders)
    {
      <li id="@boxObj.Title.ToLower()">
        <div>
          <A href="javascript:  loadList('@boxObj.IdentifyingName')">
            <span class="counter">6</span>
            <span class="icon" ></span>
            <strong>@boxObj.Title</strong>
          </a>
        </div>

        @if (boxObj.ChildFolders.Any())
        {
          <ul id="list_@boxObj.IdentifyingName">
            @foreach (var folder in boxObj.ChildFolders)
            {
              <li><a href="javascript:  loadList('@folder.IdentifyingName')"><span class="counter">10</span>@folder.Title</a></li>
            }
          </ul>
        }
      </li>
    }
  </ul>
}

<div class="col-left" id="mailbox">
  <div id="mailbox-scroll">
    @if (!(Model is IEnumerable<vmMonitorFolder>))
    {
      <h2>Mailboxes</h2>
    }
    @BuildMailBoxes(Model)
    @if (!(Model is IEnumerable<vmMonitorFolder>))
    {
      <h2>Folders</h2>
      <ul id="folder-list">
        <li><a href="#"><span class="icon"></span><strong>General Mail</strong></a></li>
        <li><a href="#"><span class="icon"></span><strong>Project Lion</strong></a></li>
        <li><a href="#"><span class="icon"></span><strong>Project XD</strong></a></li>
        <li><a href="#"><span class="icon"></span><strong>Project 14W</strong></a></li>
      </ul>
    }
  </div>

  @Html.Partial("~/Views/Folder/_SideMenu.cshtml")

</div>