@using BAE.Mercury.Client.Models;
@section Scripts
{
<script type="text/javascript">
    /**/
    var per_request = 10;
    var max_per_page = 10000;
    var dummylist = false; //disabled ajax
    var dummyemail = true;
    /**/
    var max_receipient = [];
    max_receipient['list_item'] = 6;
    max_receipient['and_more'] = "AND MORE...";
    max_receipient['hide'] = "HIDE";
</script>
    @MessageHelpers.Scripts()
    <script type="text/javascript" src="~/js/email_generator.js"></script>

}
@model  BAE.Mercury.Client.Models.OskyMessageFolders


@section LeftButtons
{
				<ul class="buttons">
					<li id="btn-new"><a href="#">New</a><span>New</span></li>
					<li id="btn-delete"><a href="#">Discard</a><span>Discard</span></li>
					<li id="btn-mark"><a href="#" class="btn-drop-parent">Mark As</a><span>Mark As</span>
						<div class="btn-drop">
							<span><a href="#" class="first">Read</a></span>
							<span><a href="#">Unread</a></span>						
						</div>
					</li>
					<li id="btn-print"><a href="#">Print</a><span>Print</span></li>
					<li id="btn-release"><a href="#">Release</a><span>Release</span></li>
					<li id="btn-reject"><a href="#">Reject</a><span>Reject</span></li>
					<li id="btn-action"><a href="#">Action</a><span>Action</span></li>
					<li id="btn-reply"><a href="#" class="btn-drop-parent">Reply</a><span>Reply</span>
						<div class="btn-drop">
							<span><a href="#" class="first">Reply</a></span>
							<span><a href="#">Reply to all</a></span>						
						</div>
					</li>
					<li id="btn-forward"><a href="#" class="btn-drop-parent">Forward</a><span>Forward</span>
						<div class="btn-drop">
							<span><a href="#" class="first">Reply</a></span>
							<span><a href="#">Forward to all</a></span>						
						</div>
					</li>
                </ul>

}
@section RightButtons
{
				<ul class="buttons">
					<li id="btn-address"><a href="#">Address Book</a><span>Address Book</span></li>
                </ul>

}


@section TopLeftMenu
{
				<div id="mailbox-scroll">
				<h2>Mailboxes</h2>
				<ul id="mailbox-list">
					<li id="inbox">
						<div><a href="#"><span class="counter">@Model.Sum(Model.inbox)</span><span class="icon"></span><strong>Inbox</strong> </a></div>
						<ul>
                        @foreach (MailBox mailBox in Model.inbox)
                        {
							<li class="mbx" fid="@(mailBox.Id)"><a href="#"><span class="counter">@mailBox.Count</span>@mailBox.Account</a></li>
                        }
						</ul>
					</li>
					<li id="draft">
						<div><a href="#"><span class="counter">@Model.Sum(Model.draft)</span><span class="icon"></span><strong>Draft</strong> </a></div>
						<ul>
                        @foreach (MailBox mailBox in Model.draft)
                        {
							<li class="mbx" fid="@(mailBox.Id)"><a href="#"><span class="counter">@mailBox.Count</span>@mailBox.Account</a></li>
                        }
						</ul>
					</li>
					<li id="sent">
						<div><a href="#"><span class="counter">@Model.Sum(Model.sent)</span><span class="icon"></span><strong>Sent</strong> </a></div>
						<ul>
                        @foreach (MailBox mailBox in Model.sent)
                        {
							<li class="mbx" fid="@(mailBox.Id)"><a href="#"><span class="counter">@mailBox.Count</span>@mailBox.Account</a></li>
                        }
						</ul>
					</li>
					<li id="discard">
						<div><a href="#"><span class="counter">@Model.Sum(Model.discard)</span><span class="icon"></span><strong>Discard</strong> </a></div>
						<ul>
                        @foreach (MailBox mailBox in Model.discard)
                        {
							<li class="mbx" fid="@(mailBox.Id)"><a href="#"><span class="counter">@mailBox.Count</span>@mailBox.Account</a></li>
                        }
						</ul>
					</li>
					<li id="templates">
						<div><a href="#"><span class="counter">@Model.Sum(Model.templates)</span><span class="icon"></span><strong>Templates</strong> </a></div>
						<ul>
                        @foreach (MailBox mailBox in Model.templates)
                        {
							<li class="mbx" fid="@(mailBox.Id)"><a href="#"><span class="counter">@mailBox.Count</span>@mailBox.Account</a></li>
                        }
						</ul>
					</li>
					<li id="objective">
						<div><a href="#"><span class="counter">@Model.Sum(Model.objective)</span><span class="icon"></span><strong>Objective</strong> </a></div>
						<ul>
                        @foreach (MailBox mailBox in Model.objective)
                        {
							<li class="mbx" fid="@(mailBox.Id)"><a href="#"><span class="counter">@mailBox.Count</span>@mailBox.Account</a></li>
                        }
						</ul>
					</li>


				</ul>
				<h2>Folders</h2>
				<ul id="folder-list">
                    @foreach (MailBox mailBox in Model.folder)
                    {
    					<li class="mbx" fid="@(mailBox.Id)"><a href="#"><span class="icon"></span><strong>@mailBox.Name</strong></a></li>
                    }
				</ul>
				</div>
                <div>
            </div>

}
			<div class="col-middle" id="email-list-wrap">
				<div id="email-search">
					<form action="#" id="search" method="post">
						<input type="text" value="" placeholder="Search Inbox" id="search-inbox" /><a class="remove" href="#"></a><span class="search-right"></span>						
						<a href="#" id="advance-search-button"><img src="~/images/icon-advance_search.png" width="21" height="21" alt="Show Advance Search" /></a>
					<br class="clear" />
					<div id="advance-search">
						<ul>
							<li><a href="#">From</a></li>
							<li><a href="#">To</a></li>
							<li><a href="#">Subject</a></li>
							<li><a href="#">All</a></li>						
						</ul>
						<br class="clear" />
						<p>
							<span>
								<label for="classification">Classification: </label>
								<select name="classification" id="classification">
									
									<option>Classified</option>
									<option>Unsclassified</option>
								</select>
							</span>							
							<span>
							<label for="precedence">Precedence: </label>
							<select name="precedence" id="precedence">
									<option>Flash</option>
									<option>Immediate</option>
									<option>Priority</option>
									<option>Routine</option>
								</select>
							</span>
							<span class="last">
							<a href="#" class="btn">SICs</a>
							<a href="#" class="btn">DTG</a>
							</span>				
						</p>
						<p>
							<span>
								<label for="date">Date within: </label>
								<select name="date" id="date">
									<option>1 day</option>
									<option>3 day</option>
								</select>
							</span>							
							<span>
								<label for="date2">&nbsp;</label>
								<input type="text" value="DD MM YYYY" />
							</span>
							<span class="last">
							<a href="#" class="btn"><img src="~/images/icon-reply.png" width="22" height="16" alt="Back" /></a>
							<a href="#" class="btn"><img src="~/images/icon-search.png" width="15" height="16" alt="Back" /></a>
							</span>				
						</p>					
					</div>
					</form>
				</div>
				<div id="search-results">
						<div class="group keyword">
							<ul>
								<li><a href="#"></a></li>
							</ul>
						</div>
						<div class="group">
							<strong>People</strong>
							<ul>
								<li><a href="#"><span class="highlight">test</span>@@baesystems.com</a></li>
								<li><a href="#"><span class="highlight">test</span>ing@@gmail.com</a></li>
								<li><a href="#"><span class="highlight">test</span>er@@hotmail.com</a></li>
								<li><a href="#"><span class="highlight">test</span>@@yahoo.com</a></li>
							</ul>
						</div>
						<div class="group">
							<strong>Subjects</strong>
							<ul>
								<li><a href="#">BAE<span class="highlight">Test</span></a></li>
								<li><a href="#"><span class="highlight">Test</span>ing</a></li>
								<li><a href="#"><span class="highlight">Test</span> Results</a></li>
							</ul>
						</div>
						<br class="clear" />
						</div>
				<div id="email-sort" class="three-col">
					<div id="sort-col-1" class="col"><a href="#" class="col-arrow">Sort by DTG</a>
					<div class="email-sort-options">
						<ul>
							<li data="unread"><a href="#">Sort by Unread</a></li>
							<li data="date"><a href="#">Sort by Date</a></li>
							<li data="attachment"><a href="#">Sort by Attachment</a></li>
							<li data="dtg"><a href="#">Sort by DTG</a></li>						
						</ul>					
					</div>
					</div>
					<div id="sort-col-2" class="col last"><a href="#" class="col-arrow">Newest on Top</a>
					<div class="email-sort-options">
						<ul>
							<li data="desc"><a href="#">Newest on Top</a></li>
							<li data="asc"><a href="#">Oldest on Top</a></li>						
						</ul>					
					</div>
					</div>
					
				<br class="clear" />
				</div>
				<div id="email-list"></div>
			</div>
            @*email content start*@
			<div class="col-right" id="email-content">

			</div>
			<br class="clear" />
            @*email content end*@
