@*================================================================================
    %name: _Layout.cshtml %
    %version: 5.1.5 %
    %date_created: Wed Nov 21 12:53:29 2012 %
    %derived_by: ADuncan %
    Copyright: Copyright 2012 BAE Systems Australia
    All rights reserved.
================================================================================*@
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Mercury Neo</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")        
        @RenderSection("CSS", required: false)
        @Content.Script("Initialise.js", Url)
        <!--[if IE 7]><link href="@Url.Content("~/Content/IE7.css")" rel="stylesheet" type="text/css" /><![endif]-->
         
    </head>
    <body>
        <div id="wrapper">     
            <div id="header">
                <div id="logo">
                    <a href="#">
                        <img alt="Mercury" src="../images/bg-logo.png">
                    </a>
                </div>
                <div id="top-section">
                    <p>Welcome, @User.Identity.Name</p>
                    <ul id="top-link">
                        <li><a id="logout" href="#"><img alt="Logout" src="../images/icon-logout_menu.png">logout</a></li>
                        <li><a id="admin" href="#"><img  alt="Settings" src="../images/icon-admin_menu.png">settings</a></li>
                    </ul>
                </div>
            </div>

            <div id="buttons">
                <div class="col-left">&nbsp;</div>
                <div id="buttons-right" class="col-middle">                    
                    @RenderSection("MenuButtons", required: false)
                </div>
                <div class="col-right">
				    <ul class="buttons">
                        <li id="btn-address">
                            <a href="#">Address Book</a><span>Address Book</span>
                        </li>
				    </ul>
			    </div>
            </div>

            <div id="content">
		        <div class="col-wrap">
                    @RenderSection("SideBar", required: false)
                    @RenderBody()
                </div>
            </div>
            @RenderSection("Scripts", required: false)
        </div>
    </body>
</html>
